/*
========================================================================================
    BJ-WGS Nextflow config file
========================================================================================
    Default config options for standard and batch profiles
----------------------------------------------------------------------------------------
*/
nextflow.enable.dsl = 2

manifest {
  name            = "BJ-WGS"
  description     = "Pipeline performs SNP/Indel variant calling for WGS and Exome/Targeted sequencing"
  author          = "BioSkryb Genomics"
  mainScript      = "main.nf"
  version         = '2.1.0'
  nextflowVersion = '!>=22.10.1'
}
nextflow.enable.configProcessNamesValidation = false
// Load environment config
includeConfig './nf-bioskryb-utils/conf/environment.config'
// Load genomes config
includeConfig './nf-bioskryb-utils/conf/genomes.config'
includeConfig './nf-bioskryb-utils/conf/modules.config'
includeConfig './nf-bioskryb-utils/conf/wgs.config'

/*
* Default pipeline parameters. They can be overriden on the command line eg.
* given `params.foo` specify on the run command line `--foo some_value`.
*/

params {
  // GENERAL
  help                     = false
  organization             = ""
  workspace                = ""
  project                  = ""
  architecture = "x86"
  // "arm" and "x86" options

  // READ INPUTS
  reads                    = ""
  input_csv                = ""
  is_fasterq               = false
  instrument               = ""
  platform                 = "Illumina"
  // Illumina, Ultima, Element
  min_reads                = 1000

  // LOCAL SENTIEON (used with -profile local)
  sentieon_install_dir     = "/mnt/thechenlab/ClaudiaC/packages/sentieon-genomics-202503.02"
  sentieon_license         = ""
  // Set sentieon_license to the path of your .lic file, e.g.:
  //   --sentieon_license /path/to/sentieon.lic
  // or to a license server address:  host:port

  // SENTIEON
  variant_caller           = "dnascope"
  // dnascope, haplotyper
  dnascope_model_selection = "sentieon"
  // sentieon, bioskryb129
  genomes_base = "s3://bioskryb-public-data/pipeline_resources"
  genome                   = "GRCh38"
  // GRCh38, GRCh37 
  mode                     = "wgs"
  // wgs, exome
  exome_panel              = ""
  // "xGen Exome Hyb Panel v2" aka IDT, "TruSight One", "TWIST"
  pcrfree                  = false
  ploidy                   = 2

  // SIG PROFILER
  sigprofilermatrixgenerator_reference  = genomes[params.genome]['sigprofilermatrixgenerator_reference']

  // SNPEFF
  hgvs_old                 = true

  // MULTIQC
  multiqc_config           = "${baseDir}/assets/multiqc"

  // VCFEVAL
  vcfeval_output_mode      = "combine"
  giab_reference_name      = "HG001"
  vcfeval_score_metric     = "GQ"
  // valid options are QUAL, INFO.VQSLOD, GQ
  vcfeval_other_options    = "--squash-ploidy"

  // ADO INFER HET
  ado_infer_germ_het       = false
  ado_min_samples          = 5
  ado_variant_type         = "snp"
  ado_min_af               = 0.25
  ado_max_af               = 0.75
  ado_min_samples          = 5
  ado_jg_file              = ""


  //ADO SLICING
  ado_slice_het_sites      = true

  //ADO CREATE  TABLE
  ado_sample_prop          = 1.0

  // ADO SUMMARIZE INTERVALS
  ado_cov_cutoff           = 2

  // OUTPUT DIR - defaults are profile specific
  publish_dir              = ""
  report_s3_dir            = "s3://bioskryb-reports/"
  timestamp                = new java.util.Date().format('yyMMdd_HHmmss').toString()
  tmp_dir                  = "/tmp/${params.timestamp}"
  enable_publish           = true
  disable_publish          = false

  // SEQTK
  read_length              = 75
  subsample_array          = ""
  seqtk_sample_seed        = 123


  //SKIP MODULES
  skip_gene_coverage       = false
  skip_vcfeval             = true
  skip_variant_annotation  = false
  skip_ado                 = true
  skip_subsampling         = true
  skip_sigprofile          = false



  // NOTIFICATIONS
  email_on_fail            = ""

  // Pipeline specific Resource Label
  pipeline_name            = "BJ-WGS_${params.timestamp}"
}

params.reference = params.genomes[params.genome]['reference']
params.base_metrics_intervals = params.genomes[params.genome]['base_metrics_intervals']
params.dbsnp = params.genomes[params.genome]['dbsnp']
params.dbsnp_index = params.genomes[params.genome]['dbsnp_index']
params.clinvar = params.genomes[params.genome]['clinvar']
params.clinvar_index = params.genomes[params.genome]['clinvar_index']
params.mills = params.genomes[params.genome]['mills']
params.mills_index = params.genomes[params.genome]['mills_index']
params.onekg_omni = params.genomes[params.genome]['onekg_omni']
params.onekg_omni_index = params.genomes[params.genome]['onekg_omni_index']
params.dbnsfp = params.genomes[params.genome]['dbnsfp']
params.dbnsfp_index = params.genomes[params.genome]['dbnsfp_index']
params.snpeff_db = params.genomes[params.genome]['snpeff_db']
params.snpeff_genome_name = params.genomes[params.genome]['snpeff_genome_name']
params.roi_intervals = params.genomes[params.genome]['roi_intervals']
params.refseq = params.genomes[params.genome]['refseq']
