docker {
  enabled = true
  temp = 'auto'
}

params{
  local = false 
  // Defaults only, expect to be overwritten
  max_memory                 = 256.GB
  max_cpus                   = 64
  max_time                   = 48.h
  // RESOURCE LABELS
  pipeline_user = "test_pipeline_user"
  basejumper_organization_name = "test_basejumper_organization_name"
  basejumper_workspace_name = "test_basejumper_workspace_name"
  basejumper_project_name = "test_basejumper_project_name"
  pipeline_name = "test_pipeline_name"
  basejumper_organization_uuid = "test_basejumper_organization_uuid"
  basejumper_workspace_uuid = "test_basejumper_workspace_uuid"
  basejumper_project_uuid = "test_basejumper_project_uuid"
  basejumper_pipeline_uuid = "test_basejumper_pipeline_uuid"
  pipeline_process_name = "test_pipeline_process_name"
  pipeline_biosample_count = "0"

}

process {
  errorStrategy = { task.attempt <=2 ? 'retry' : 'ignore' }
  maxRetries    = 2
  maxErrors     = '-1'
  maxForks      = 200
  containerOptions = "--env LOCAL=true --env SENTIEON_LICENSE_SERVER=${baseDir}/sentieon_eval.lic -v ${baseDir}/sentieon_eval.lic:${baseDir}/sentieon_eval.lic"
  resourceLimits = [cpus: params.max_cpus, memory: params.max_memory] 
}

profiles {
  
  singularity { 
    singularity.enabled = true
    docker.enabled = false
  }


  batch_dev_gpu { includeConfig './batch_dev_gpu.config' }

  batch_prod_gpu { includeConfig './batch_prod_gpu.config' }

  
  

  nf_test { includeConfig '../../conf/nf_test.config'}

  local { includeConfig '../../conf/local.config' }

  uger { includeConfig '../../conf/uger.config' }


}
