
process {
    executor       = 'sge'
    penv           = 'smp'        // confirm with your sysadmin if different
    queue          = 'broad'      // replace with your queue name
    clusterOptions = '-l h_vmem=8G'
    beforeScript   = 'source /broad/software/scripts/useuse && use Java-1.8 && export SENTIEON_LICENSE=/mnt/thechenlab/ClaudiaC/packages/sentieon_key_exp_2026-06-30/Broad_Institute_Of_MIT_And_Harvard__Harvard_University_eval.lic && export SENTIEON_INSTALL_DIR=PATH_TO_SENTIEON_BINARY_DIRECTORY '
}

executor {
    queueSize = 50
}

apptainer {
    enabled    = true
    autoMounts = true
    cacheDir   = "$HOME/.apptainer/cache"
}

singularity.enabled = false
docker.enabled      = false
